th {
    border: 1px solid black;
    

  }

  td{
    
        border: 1px solid black;
        

      
  }

  body{
        background-color: black;
        color:tomato;
  }

  th{
        background-color: white;
        color: tomato;
        

  }

  td{
        background-color: salmon;
        color:yellow;
      

  }

  h1 a {
        color: tomato;
  }

  main{
        text-align: center;
      display: inline;
  }

  main div{
        margin: 20px;
  }

  form{
      font-family: 'Akaya Telivigala', cursive;

  }
